
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

<div class="row-fluid">  
  <div class='span12'>
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="span4">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email, :placeholder => "example@example.com"%>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %>
      </div>

      <button class="btn btn-primary" type="submit"class="actions">Sign Up</button>

    <% end %>
  </div>
  </div>
</div>
