

<div class='row-fluid'>
  <div class='span12'>
    
    <div class="container">
      <h1>The Platt 101 </h1>
      <table>
        <th class="rank">Rank</th>
        <th class="name">Name</th>
        <th class="name">Number of Yelp Reviews</th>
        <th class="stars">Stars</th>
        <!-- <th class="my_review">My Review</th> -->
        <th class="comments">Comments</th>
        <% @restaurants.each do |r| %>
        <tr>  
          <td class="rank"><%= r.rank %></td> 
          <td class="name"><%= link_to r.name, restaurant_path(r.id) %></td> 
          <td class="name"><%= r.yelp_review_count %></td> 
          <td class="stars"><%= r.stars %></td>
          <% @review = Review.comments(current_user.id, r.id) %>
          <!-- <td class="my_review"><%= link_to "Review", edit_review_path(@review.id) %></td> -->

         <td class="comments"><%= link_to (Review.comments(current_user.id, r.id)).comments, edit_review_path(@review.id)  %></td> 
        </tr>
        <% end %>  
      </table>
    </div>
  </div>
</div>

    

  <div class="map" id="map-canvas" style="width:800px;height=800px"></div>
    <script type="text/javascript">

        var myCenter = new google.maps.LatLng(40.768783,-73.983148);

        function initialize() {
          var mapOptions = {
            center: myCenter,
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };

          var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
        
          <% @restaurants.each do |r| %>
          
          var markerposition = new google.maps.LatLng(<%=r.yelp_location_coordinate_latitude%>,<%=r.yelp_location_coordinate_longitude%>);
          
          var marker<%=r.id%> = new google.maps.Marker({
            position:markerposition,
            <% unless current_user.reviews.where(:restaurant_id => r.id).first.date_dined == nil %>
            icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
            <% else %>
            icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
            <% end %>
          });

          marker<%=r.id%>.setMap(map);

          var contentString = '<div>Restaurant: <%= r.name %></div>' + '<br>' + '<div>Current Rank: <%= r.rank %></div>' + '<br>' +'<div>Phone: <%= r.yelp_display_phone %></div>'+ '<br>' +'<div>Yelp Review: <img src=<%= r.yelp_rating_img_url_small %>> </div>';

          var infowindow<%=r.id%> = new google.maps.InfoWindow({
            content: contentString
            });

          google.maps.event.addListener(marker<%=r.id%>, 'click', function() {
            infowindow<%=r.id%>.open(map,marker<%=r.id%>);

          });
          
          google.maps.event.addListener(map, 'click', function() {
            infowindow<%=r.id%>.close();

          });
          <% end %>

        
        }
        google.maps.event.addDomListener(window, 'load', initialize);
      </script>




