<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMam5rGWt28ADYHpInbDdWfZLrETIU2hk&sensor=false">
    </script>
    
    
  </head>


<body>
    
  <h1><%= @restaurant.name %></h1>
  <h2>Rank: <%= @restaurant.rank.chop %></h2>
  <h2>Stars: <%= @restaurant.stars %></h2>
  <h2>NY MAG Review:<%= link_to @restaurant.name, "http://nymag.com/listings/restaurant/#{@restaurant.nymag_page}" %> </h2>
  <% @review = Review.comments(current_user.id, @restaurant.id) %>
  <h2><%=link_to "Add Review", edit_review_path(@review.id) %>   </h2>
    


<div class="map" id="map-canvas" style="width:500px;height=500px"></div>
  <script type="text/javascript">

    var myCenter = new google.maps.LatLng(<%=@restaurant.yelp_location_coordinate_latitude%>,<%=@restaurant.yelp_location_coordinate_longitude%>);

      function initialize() {
        var mapOptions = {
          center: myCenter,
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);

        var marker = new google.maps.Marker({
			  	position:myCenter
			  });

			  marker.setMap(map);

			  var infowindow = new google.maps.InfoWindow({
			  content:"Hello World!"
			  });

			google.maps.event.addListener(marker, 'click', function() {
			  infowindow.open(map,marker);
			  });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

</body>





