<%= form_for(@city) do |c| %>
  <div class="field">
    <%= c.label :name, "City Name" %>

    <%= c.select :name, @cities %><br />
  </div>
    
    
    <%= c.fields_for :restaurants do |r| %>
      <div class="field">
        <%= r.label :name, "Restaurant" %>
        <%= r.text_field :name  %>
        <%= r.label :review, "Review" %>
        <%= r.text_field :review %><br />
      </div>
    <% end %>

    
    <div class="actions">
      <%= c.submit "Add" %>
    </div>
  
<% end %>

