<div class='row-fluid'>
    <div class='span12'>
      <%= form_for(@review) do |r| %>
      <div> <%= r.label :restaurant_id %>
      <%= r.select(:restaurant_id, Restaurant.all.collect {|r| [r.name, r.id]}, {:prompt => 'Select Restaurant'}) %>
      </div>
      
      <div class="field">
        <%= r.label :date_dined, "Date Dined" %>
        <%= r.date_select :date_dined %><br />
      </div>
      <div class="text_area">
        <%= r.label :comments %>
        <%= r.text_area :comments %>
      </div>
        
      <div class="actions">
        <%= r.submit "Update" %>
      </div>
    <% end %>
  </div>
<div>
