<!DOCTYPE html>
<html>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <head>
    <title>Platt</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

      <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
      <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
      <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map_canvas { height: 100% }
      </style>
      
      <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMam5rGWt28ADYHpInbDdWfZLrETIU2hk&sensor=false">
      </script>
  </head>

  <body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

<div class="navbar">
<div class="navbar-inner">
    <a class="brand" href="<%= restaurants_path %>">Platt101</a>
    <div class='header_format'>
      <ul class="nav">
        <li><a href="<%= restaurants_path %>">Restaurants</a></li>
        <li><a href="<%= reviews_path %>">Reviews</a></li>
        <li><a href="<%= maps_path %>">Maps</a></li>
        <% if current_user %>
          <li><a href="">Logged in as <%= current_user.email %></a></li>
        
          <li> <%= link_to "Log Out", session_path("current"),
            method: "delete" %></li>
        <% else %> 
          <li><%= link_to "Login", new_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
      <%= yield %>
    </div>
  </body>
</html>
